<div *ngIf="formSubmitted && deliveryBoyForm.pristine" class="submitted"> Form Submitted Successfully...</div>
<div class="deliverBoy">

<form [formGroup]="deliveryBoyForm" (ngSubmit)="onFormSubmit()">

  <div class="row">
    <div class="col-sm-4">
      <md-form-field >
      <input mdInput formControlName="id" placeholder="Employee ID" (input)="myEvent($event.target.value)">
      <label *ngIf="deliveryBoyForm.get('id').invalid && deliveryBoyForm.get('id').dirty" class="error">Employee ID is required</label>
      </md-form-field>
    </div> 
    <div class="col-sm-4">
      <md-form-field>
      <input mdInput formControlName="firstName" placeholder="First Name">
      </md-form-field>
    </div>  
    <div class="col-sm-4">
      <md-form-field>
      <input mdInput formControlName="lastName" placeholder="Last Name">
      </md-form-field>
    </div> 
  </div>

  <div class="row">
    <div class="col-sm-4">
      <md-form-field class="padding">
      <input mdInput formControlName="amountPaid" placeholder="Amount Paid">
      </md-form-field>
    </div>
    <div class="col-sm-4">
      <md-form-field class="padding">
      <input mdInput formControlName="returnedAmount" placeholder="Returned Amount">
    </md-form-field>
    </div>
    <div class="col-sm-4">
      <md-form-field class="padding" >
      <input mdInput formControlName="personalExpenses" placeholder="Personal expenses">
      </md-form-field>
    </div>    
  </div>
  
  <div class="row" align="center"><h5>Given Deliverables</h5></div>
  <div class="row">
    <div class="col-sm-3">
      <md-select formControlName="noOfGivenCylinders" placeholder="Cylinders" >
      <md-option *ngFor="let cylinder of cylinders" [value]="cylinder.value">
      {{cylinder.viewValue}}
      </md-option>
      </md-select>
    </div>
    <div class="col-sm-3">
      <md-select formControlName="noOfGivenPipes" placeholder="Pipes" >
        <md-option *ngFor="let pipe of pipes" [value]="pipe.value">
        {{pipe.viewValue}}          
        </md-option>  
        </md-select>
    </div>
    <div class="col-sm-3">
      <md-select formControlName="noOfGivenOvans" placeholder="Ovans">
        <md-option *ngFor="let ovan of ovans" [value]="ovan.value">
          {{ovan.viewValue}}
        </md-option>
        </md-select>
    </div>
    <div class="col-sm-3">
      <md-select formControlName="noOfGivenRegulators" placeholder="Regulators">
        <md-option *ngFor="let regulator of regulators" [value]="regulator.value">
          {{regulator.viewValue}}
        </md-option>
        </md-select>
    </div>
  </div>
  

  <div class="row" align="center"><h5 color="primary">Returned Deliverables</h5></div>
  <div class="row">
    <div class="col-sm-3">
      <md-select formControlName="noOfReturnedCylinders" placeholder="Cylinders">
      <md-option *ngFor="let cylinder of cylinders" [value]="cylinder.value">
      {{cylinder.viewValue}}
      </md-option>
      </md-select>
    </div>
    <div class="col-sm-3">
      <md-select formControlName="noOfReturnedPipes" placeholder="Pipes">
        <md-option *ngFor="let pipe of pipes" [value]="pipe.value">
        {{pipe.viewValue}}          
        </md-option>  
        </md-select>
    </div>
    <div class="col-sm-3">
      <md-select formControlName="noOfReturnedOvans" placeholder="Ovans">
        <md-option *ngFor="let ovan of ovans" [value]="ovan.value">
          {{ovan.viewValue}}
        </md-option>
        </md-select>
    </div>
    <div class="col-sm-3">
      <md-select formControlName="noOfReturnedRegulators" placeholder="Regulators">
        <md-option *ngFor="let regulator of regulators" [value]="regulator.value">
          {{regulator.viewValue}}
        </md-option>
        </md-select>
    </div>
  </div>

  

    <div class="col-md-7 col-md-offset-4">
    <button [disabled]="deliveryBoyForm.invalid" md-raised-button color="primary">Done</button>
    <button [disabled]="deliveryBoyForm.invalid" md-raised-button color="primary"  (click)="clearDateRange()" >search</button>
  <button md-button color="primary">Cancel</button>  
  </div>
</form>
</div>