<!--<div><ng-md-icon icon="logout" size="48"></ng-md-icon><br>logout</div>-->
    <i class="material-icons app-input-icon">logout</i>
    <!--<a [routerLink]="['/login']">Logout</a>-->
 <md-icon color="primary">logout</md-icon>
 <md-toolbar color="primary">
 <span > Gas Agency</span>
 </md-toolbar>
 <nav md-tab-nav-bar md-stretch-tabs="always" aria-label="weather navigation links">
    <a md-tab-link 
        *ngFor="let routeLink of routeLinks; let i = index"
         [routerLink]="routeLink.link"
         [active]="activeLinkIndex === i"
         (click)="activeLinkIndex = i">
         {{routeLink.label}}
     </a>
</nav>
<!--<p>{{fun()}}</p>-->
<router-outlet></router-outlet>